{% load static %}
<style>
.navbar {
  background-color: #4EABBD;
  color: #000000;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.navbar-logo {
  width: 50px;
  height: auto;
  margin-right: 20px;
}

.navbar-menu {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.navbar a{
  padding: 10px 20px;
}

.navbar-menu a {
  color: #000000;
  text-decoration: none;
  /* font-weight: bold; */
  margin: 0 20px;
  font-size: 20px;
}

.login-button {
  background-color: #fff;
  color: #333;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
        background-color: #0056b3;
        color: #fff;
    }

</style>

<div class="navbar">
  <div>
      <img src="{% static 'home/logo.png' %}" alt="🫱🏻‍🫲🏾" class="navbar-logo" />

  </div>
  <div class="navbar-menu">
      <a href="/">Home</a>
      {% if user.is_authenticated and user.org_profile %}
          <a href="/org/dashboard">Dashboard</a>
      {% endif %}
      <a href="/gallery">Gallery</a>
      <a href="/community">Community</a>
      <a href="#">Contact</a>
      {% if user.is_authenticated and user.vol_profile %}
          <a href="/notifications">Notification</a>
      {% endif %}
      
  </div>
  {% if user.is_authenticated and user.org_profile%}
  <a href="/volunteer/logout"><button class="login-button">Logout</button></a>
  {% elif user.is_authenticated and user.vol_profile %}
  <a href='/volunteer/profile'><button class="login-button">Profile</button></a>
  {% else %}
  <a href='/volunteer/login'><button class="login-button">Login</button></a>
  {% endif %}
</div>